.roundBtn {

  &__container {
    background-color: $Cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 3rem;
    width: 60%;
    max-width: 200px;
    border-radius: 50px;
    margin-bottom: 2.5rem;

    &:hover {
      background-color: lighten($Cyan, 25%);
    }
  }

  &__text {
    color: white;
    font-weight: $Bold;
    letter-spacing: .3px;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
}