.contentCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 325px;
  min-height: 260px;
  margin: 0 auto;
  padding: 0 1.3rem 2rem;
  margin-bottom: 5rem;
  border-radius: 8px;
  z-index: 2;

  &__imgContainer {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $DarkViolet;
    padding: 1.3rem;
    border-radius: 100px;
  }

  &__title {
    font-size: 1.15rem;
    color: $DarkBlue;
    position: relative;
    top: -20px;
  }

  &__text {
    text-align: center;
    font-size: .85rem;
    color: $GreyViolet;
    line-height: 1.45rem;
  }
}