.urlCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $DarkViolet;
  background-image: url("../../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: -30px;
  height: 150px;
  border-radius: 10px;
  top: -77px;

  &__form {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__input {
    width: 85%;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    color: $GreyViolet;

    &::placeholder {
      color: $Grey;
      font-weight: $Regular;
    }
  }

  &__inputError {
    border-style: solid;
    border-width: 3px;
    border-color: $Red;

    &::placeholder {
      color: $Red;
    }
  }

  &__errorMSG {
    align-self: flex-start;
    margin-left: 1.5rem;
    color: $Red;
    font-style: italic;
    font-size: .7rem;
  }
}