// COLORS 

// Primary
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(255, 27%, 26%);

// Secondary
$Red: hsl(0, 87%, 67%);

// Neutral
$Grey: hsl(0, 0%, 75%);
$GreyViolet: hsl(257, 7%, 63%);
$DarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 13%);

// TYPOGRAPHY

// Weight
$Regular: 500;
$Bold: 700;

// SCREEN SIZE

//Tablet
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;