.main {
  min-height: 100vh;
  margin: 0 -25px;
  padding: 0 25px;
  background-color: rgb(240, 241, 246);
  display: grid;

  &__links {
    position: relative;
    top: -3rem;
    margin-bottom: .5rem;
    overflow: hidden;
  }

  &__text {
    text-align: center;
    position: relative;
    margin: 0 auto 5.5rem;
    max-width: 500px;
  }

  &__header {
    font-size: 1.5rem;
    color: $DarkBlue;
    margin-bottom: 1rem;
  }

  &__content {
    color: $GreyViolet;
  }

  &__bar {
    height: .5rem;
    width: 260px;
    margin: 0 auto;
    background-color: $Cyan;
    transform: translate(0) rotate(90deg);
    z-index: 1;
  }
}